.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 200px;
}
@media screen and (max-width: 1050px) {
  .profile {
    padding: 0 50px;
  }
}
@media screen and (max-width: 900px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 19px;
  }
}
.profile__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
