.cards-grid {
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 66px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  column-gap: 16px;
  row-gap: 20px;
  box-sizing: border-box;
  padding: 0 200px;
  /* justify-content: center; */
}
@media screen and (max-width: 1050px) {
  .cards-grid {
    padding: 0 19px;
  }
}
/* @media screen and (max-width: 768px) {
  .cards-grid {
    padding: 0 19px;
  }
} */
